---
import BaseLayout from '../layouts/BaseLayout.astro'
import Blogpost from '../components/Blogpost.astro'
const pageTitle = 'Astro Learning Blog'
const allPosts = Object.values(
  await import.meta.glob('./posts/*.md', { eager: true })
)
console.log('All posts: ', allPosts)
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    {
      allPosts.map((post: any) => (
        <Blogpost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    padding: 0;
  }
</style>
