---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Astro Learning Blog'
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    <li><a href='/posts/first-post/'>First Post</a></li>
    <li><a href='/posts/second-post/'>Second Post</a></li>
    <li><a href='/posts/third-post/'>Third Post</a></li>
  </ul>
</BaseLayout>
