---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Astro Learning Blog'
const allPosts = Object.values(await import.meta.glob('./posts/*.md'))

console.log('All posts: ', allPosts)
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul>
    <li><a href='/posts/first-post/'>First Post</a></li>
    <li><a href='/posts/second-post/'>Second Post</a></li>
    <li><a href='/posts/third-post/'>Third Post</a></li>
  </ul>
</BaseLayout>
