---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
import { getCollection } from 'astro:content'
const allPosts = await getCollection('blog')
const pageTitle = 'Blog'
---

<BaseLayout pageTitle={pageTitle}>
  <p>A list of my blog posts:</p>

  {
    allPosts.map((post: any) => {
      return <BlogPost url={`/posts/${post.id}`} postTitle={post.data.title} />
    })
  }
</BaseLayout>
